# OS files
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/

# Backend Environment Variables
backend/.env
.env

# Local Go module cache (do not commit)
/go/

# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*
